<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group" ng-controller="NarrowItDownController as search">
      <input type="text" placeholder="search term" class="form-control" id="searchFor" ng-model="search.searchFor">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="search.search()"  class="btn btn-primary">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items  title="Items found" 
          list="search.found" 
          result="{{ search.searchResult }}" 
          dont-want="search.dontWant(index)"></found-items>
  </div>
<script src="app.js"></script>
  <script>
    $(function() { $("input").focus(); })
  </script>
</body>
</html>
